// * colors
// primary
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
// secondary
$color-secondary-light: #ffb980;
$color-secondary-dark: #ff7730;
// tertiary
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
// grays
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light-1: #f7f7f7;
$color-gray-kight-2: #eeeeee;
// neutrals
$color-black: #000;
$color-white: #fff;

// * font size
$font-16: 1.6rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-24: 2.4rem;
$font-28: 2.8rem;
